@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-4xl font-bold
    h-screen content-center
    print:break-before-page print:break-after-page
    print:h-screen;
}

h3 {
  @apply text-2xl font-semibold
    max-lg:text-xl
    border-b-2 pb-1 mb-3 mt-6;
}

ul {
  @apply list-disc list-inside;
}

p {
  @apply mb-3;
}
